@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: red;
}

.article {
  margin: 10px;
}

.highlight {
  background-color: #08090a;
  color: #f8f8f3;
  border-radius: 5px;
  overflow-x: auto;
}