@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

#body {
    font-family: 'Roboto', sans-serif;
    /* background-color: rgb(255, 0, 0, 0.9); */
    background-color: #5247e7e6;
}

.article--header h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-align: center;
    color: #f8f8f3;
}

.article {
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    font-size: 20px;
}

.article--headline p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #f8f8f3;
    font-size: 20px;
}

.highlight--piece--of--code {
    font-size: 20px;
    background-color: #08090a;
    color: #f8f8f3;
    border-radius: 5px;
    overflow-x: auto;
}